################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Moving Out/Moving Out/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Moving Out/Moving Out/obj/Debug/net5.0-windows
/Moving Out/.vs/Moving Out/v16/TestStore/0/000.testlog
/Moving Out/.vs/Moving Out/v16/TestStore/0/testlog.manifest
/Moving Out/.vs/Moving Out/v16/.suo
/Moving Out/Moving Out/bin/Debug/net5.0-windows/ref
/Moving Out/Moving Out/bin/Debug/net5.0-windows/Images
/Moving Out/Moving Out/bin/Debug/net5.0-windows/Moving Out.deps.json
/Moving Out/Moving Out/bin/Debug/net5.0-windows/Moving Out.dll
/Moving Out/Moving Out/bin/Debug/net5.0-windows/Moving Out.exe
/Moving Out/Moving Out/bin/Debug/net5.0-windows/Moving Out.pdb
/Moving Out/Moving Out/bin/Debug/net5.0-windows/Moving Out.runtimeconfig.dev.json
/Moving Out/Moving Out/bin/Debug/net5.0-windows/Moving Out.runtimeconfig.json
/Moving Out/Moving Out/obj/Moving Out.csproj.nuget.dgspec.json
/Moving Out/Moving Out/obj/Moving Out.csproj.nuget.g.props
/Moving Out/Moving Out/obj/Moving Out.csproj.nuget.g.targets
/Moving Out/Moving Out/obj/project.assets.json
/Moving Out/Moving Out/obj/project.nuget.cache
/Moving Out/Moving Out/obj/Release/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Moving Out/Moving Out/obj/Release/net5.0-windows/GeneratedInternalTypeHelper.g.cs
/Moving Out/Moving Out/obj/Release/net5.0-windows/App.g.cs
/Moving Out/Moving Out/obj/Release/net5.0-windows/MainWindow.g.cs
/Moving Out/Moving Out/obj/Release/net5.0-windows/Moving Out.AssemblyInfo.cs
/Moving Out/Moving Out/obj/Release/net5.0-windows/Moving Out.AssemblyInfoInputs.cache
/Moving Out/Moving Out/obj/Release/net5.0-windows/Moving Out.GeneratedMSBuildEditorConfig.editorconfig
/Moving Out/Moving Out/obj/Release/net5.0-windows/Moving Out_Content.g.cs
/Moving Out/Moving Out/obj/Release/net5.0-windows/Moving Out_MarkupCompile.cache
/Moving Out/Moving Out/obj/Release/net5.0-windows/Moving Out_MarkupCompile.lref
